@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  color: white;
}

h1 {
  font-size: 1.7rem;
  color: white;
  -webkit-text-stroke: 1px darkgray;
}

button {
  display: flex;
  align-items: center;
  padding: 6px 14px;
  border-radius: 6px;
  color: #3D3D3D;
  background: #fff;
  border: none;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: inline-block;
  margin-right: 10px;
  .filter-button {

  }
}









body {
  font-family: "Roboto", sans-serif;
  background-color: #141414;
  background-image: linear-gradient(135deg, #141414 0%, #2c2c2c 100%);
  width: 100%;

header{
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  height: 100%;
  z-index: 100;
  background-position: center;
  background-size: cover;
  text-align: center;
  justify-content: center;
  color: white;


  nav{

  }
}

main {

  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
  justify-content: center;
padding: 10%;
  width: 100%;
  
  .card-container {
    position: relative;
    width: 90%;
    height: 30vh;
    border-radius: 18px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    cursor: pointer;
    margin-bottom: 85%;

    &:hover {
      filter: brightness(0.7);
      transform: scale(1.02);
      transition: ease 0.6s;
    }

    .title{
        margin-top: 4%;
    }

    .card {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 18px;

     
      .badge {
        display: inline-block;
        padding: 0.3em 0.5em;
        margin-right: 0.5em;
        font-size: 0.9em;
        font-weight: bold;
        border-radius: 18px;
        margin-top: 370px;
        margin-bottom: 3%;
        margin-left: 2%;

        &.action {
          background: #ff5733;
        }

        &.combat {
          background: #1e90ff;
        }
        &.rpg {
          background: #4caf50;
        }
        &.animation {
          background: #8b0000;
        }
        &.aventure {
          background: rgb(34, 139, 34);
        }
        &.drame {
          background: #9932cc;
        }
        &.fiction {
            background: rgba(0, 255, 0, 1);
          }
          &.comédie{
            background: rgba(255, 215, 0);
          }
          &.police {
            background: rgba(128, 128, 128) ;
          }
      }
      .acteurbadge {
        position: absolute;
        display: inline-block;
        background: #0099cc;
        padding: 0.3em 0.5em;
        margin-right: 0.5em;
        font-size: 0.9em;
        font-weight: bold;
        border-radius: 18px;
        margin-top: 2%;
        margin-left: 2%;
      }
    }
    }
  }
}




@media screen and (max-width: 767px) {

    body {

       main {
        flex-direction: column !important;
        display: block;
        margin-left: 5%;
      

        .card-container{

            margin-bottom: 90%;
            .card{
}
        }
      } 
    }
}
