@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  color: white;
}

h1 {
  font-size: 1.7rem;
  color: white;
  -webkit-text-stroke: 1px darkgray;
}



body {
  display: grid;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  grid-template-columns: 25% 25% 25% 25%;
  background-color: lightgrey;
  width: 100%;
  gap: 15px;
  padding: 10%;
  
  
  .card-container {
    position: relative;
    width: 100%;
    height: 30vh;
    border-radius: 18px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    cursor: pointer;
    margin-bottom: 80%;

    &:hover {
      filter: brightness(0.7);
      transform: scale(1.02);
      transition: ease 0.6s;
    }

    .title{
        margin-top: 4%;
    }

    .card {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 18px;

     
      .badge {
        display: inline-block;
        padding: 0.3em 0.5em;
        margin-right: 0.5em;
        font-size: 0.9em;
        font-weight: bold;
        border-radius: 18px;
        margin-top: 370px;
        margin-bottom: 3%;
        margin-left: 2%;

        &.action {
          background: #ff5733;
        }

        &.combat {
          background: #1e90ff;
        }
        &.rpg {
          background: #4caf50;
        }
        &.animation {
          background: #8b0000;
        }
        &.aventure {
          background: #ffd700;
        }
        &.drame {
          background: #9932cc;
        }
        &.fiction {
            background: rgba(0, 255, 0, 1);
          }
      }
      .acteurbadge {
        position: absolute;
        display: inline-block;
        background: #0099cc;
        padding: 0.3em 0.5em;
        margin-right: 0.5em;
        font-size: 0.9em;
        font-weight: bold;
        border-radius: 18px;
        margin-top: 0.4%;
        margin-left: 0.6%;
      }
    }
  }
}



@media screen and (max-width: 767px) {

    body {
        flex-direction: column !important;
        display: block;

        .card-container{

            margin-bottom: 90%;
            .card{





            }
        }
    }
}
